{% load static %}
<!--load static files (Css , pngs)-->
<!DOCTYPE html>
<html lang="en">
	<head>
    <!--set charcter encodingn-->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" /><!--make page responsive for mobile-->
		<title>Netflix Dashboard - Plots</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
		/><!--link to bootstrap-->
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" /><!--link to CSS-->
	</head>
	<body>
		{% include 'dashboard/navbar.html' %}
        <!--load the navbar from navbar.html-->

		<div class="container mt-4"><!--main container for content -->
			<h1>Netflix Genre Plots</h1>
            <!--bootstrap row for responsive grid of images -->
			<div class="row">
				<div class="col-md-6 mb-3"> <!--each column contains a plot image -->
					<img
						src="{% static 'dashboard/plots/Figure_1.png' %}"
						class="img-fluid rounded"
						alt="Plot 1"
					/><!--display the images-->
				</div>
				<div class="col-md-6 mb-3">
					<img
						src="{% static 'dashboard/plots/Figure_2.png' %}"
						class="img-fluid rounded"
						alt="Plot 2"
					/><!--display the images-->
				</div>
				<div class="col-md-6 mb-3">
					<img
						src="{% static 'dashboard/plots/Figure_3.png' %}"
						class="img-fluid rounded"
						alt="Plot 3"
					/><!--display the images -->
				</div>
				<div class="col-md-6 mb-3">
					<img
						src="{% static 'dashboard/plots/Figure_4.png' %}"
						class="img-fluid rounded"
						alt="Plot 4"
					/><!--display the images-->
				</div>
				<div class="col-md-6 mb-3">
					<img
						src="{% static 'dashboard/plots/Figure_5.png' %}"
						class="img-fluid rounded"
						alt="Plot 5"
					/><!--display the images -->
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script><!--bootstrap script-->
	</body>
</html>
