{% load static %}

<nav
	class="navbar navbar-expand-lg"
	style="background-color: #141414; border-bottom: 1px solid #333"
>
	<div class="container-fluid">
		<!-- Brand / Logo -->
		<a class="navbar-brand text-danger fw-bold" href="{% url 'index' %}"
			>Netflix Dashboard</a
		>

		<!-- Collapse button for mobile -->
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon" style="color: #e50914"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link text-light" href="{% url 'index' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" href="{% url 'search' %}">Search</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" href="{% url 'genre_plot' %}">Plots</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
